<div class="row">
  <div class="col-md-6 col-sm-12">
    <div style="font-weight: bold">
      {{ indice + 1 }} {{ empleadoDeLista.nombre }}
      {{ empleadoDeLista.apellido }}
      {{ empleadoDeLista.cargo }}
      {{ empleadoDeLista.salario }}
      <button
        class="btn btn-primary"
        style="margin-right: 5px"
        [routerLink]="['/actualiza', indice]"
        [queryParams]="{ accion: '1' }"
      >
        Actualizar
      </button>
      <button
        class="btn btn-danger"
        [routerLink]="['/actualiza', indice]"
        [queryParams]="{ accion: '2' }"
      >
        Eliminar
      </button>
    </div>
    <app-caracteristicas-empleado-c
      (caracteristicasEmpleado)="agregarCaracteristica($event)"
    ></app-caracteristicas-empleado-c>
    <ul style="list-style: none">
      <li *ngFor="let caracteristica of arrayCaracteristicas">
        {{ caracteristica }}
      </li>
    </ul>
  </div>
</div>
