<div class="row">
  <div class="col-md-6 col-sm-12">
    <div>
      {{ indice + 1 }} {{ empleadoDeLista.nombre }}
      {{ empleadoDeLista.apellido }}
      {{ empleadoDeLista.cargo }}
      {{ empleadoDeLista.salario }}
      <a [routerLink]="['/actualiza', indice]" [queryParams]="{ accion: '1' }">
        Actualizar
      </a>
      <a [routerLink]="['/actualiza', indice]" [queryParams]="{ accion: '2' }">
        Eliminar
      </a>
    </div>
    <app-caracteristicas-empleado-c
      (caracteristicasEmpleado)="agregarCaracteristica($event)"
    ></app-caracteristicas-empleado-c>
    <ul style="list-style: none">
      <li *ngFor="let caracteristica of arrayCaracteristicas">
        {{ caracteristica }}
      </li>
    </ul>
  </div>
</div>
